* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(166, 166, 237);
    font-size: 1.02rem;
}

.left {
    position: relative;
    font-size: 38px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    transition: .3s;
    opacity: 0;
    animation: slideRight .5s ease forwards;


}

.right a {
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px 0;
}

.firstsection>div {
    width: 40%;
}

.home {
    font-size: 2.5rem;
}

.home .buttons {
    padding: 50px 0;
}

.home .btn {
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    font-size: 35px;
    border-radius: 50%;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}

.social-media a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.rightsection img {
    width: 90%;
    border-radius: 50px;
}

.home .purple {
    color: blueviolet;
    font-weight: bold;
    font-size: 70px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    transition-delay: 1s;


}

.home b {
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    opacity: 0;
    animation: slideButtom .5s ease forwards;
}

#element {
    color: yellowgreen;
    font-weight: bolder;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

main hr {
    border: 0px;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.text-gray {
    color: gray;
}

.secondsection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 120px;
    height: 80px;
    position: relative;
    top: 4px;
    left: 3px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.vertical-desc {
    position: relative;
    width: 150px;
    top: 86px;
    color: gray;
    font-size: 9px;
}

footer {
    background-color: rgb(12, 3, 55);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    text-decoration: none;
}
.footer a{
    text-decoration: none;
}

.footer>div {
    width: 223px;
}
footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}

#social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideButtom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}